<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
   <!--  <meta name="author" content="John-George Sample"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CiteIt!</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"> 
  </head>
  <body>
    <div class="titleBar">
      <h1>CiteIt!</h1>
    </div>
    <nav>
      <ul class="nav-ul">
        <li class="nav-li" ng-click=""><a href="#">Web</a></li>
        <li class="nav-li" ng-click=""><a href="#">Book</a></li>
        <li class="nav-li" ng-click=""><a href="#">Tweet</a></li>
      </ul>
    </nav>

    <div class="radio-toolbar">
      <input type="radio" id="radio1" name="radios" value="true">
      <label for="radio1">MLA</label>

      <input type="radio" id="radio2" name="radios" value="false">
      <label for="radio2">APA</label>

      <input type="radio" id="radio3" name="radios" value="true">
      <label for="radio3">Chicago</label>
    </div>

    <form action="metaInfo.php" method="post">
      <div class="searchBox">
        <input type="text" class="myBox" name="myUrl" placeholder="enter url to cite">
        <input type="submit" value="Cite">
      </div>
    </form>
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  </body>
</html>
