.radio-toolbar {
	text-align: center;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 24px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: $brand;
  color: $white;
}