nav {
	padding-top: 0px;
	padding-bottom: 20px;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $black;
}

.nav-li {
	font-size: 20px;
	float: left;
	display: inline;
}

.nav-li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

// .nav-li a:hover {
//     background-color: $brand;
//     color: $white;
// }

.is-active {
    background-color: $brand;
    color: $white;
}